version: '3'
services:
  app:
    env_file:
      - app.env
    build: .
    restart: always
    container_name: app
    volumes:
      - ./sistema_evaluacion_codigo:/code
    ports:
      - "8000:8000"
    depends_on:
      - bd
  bd:
    image: mariadb
    restart: always
    env_file:
      - bd.env
    volumes:
      - ../data:/var/lib/mysql
