<!DOCTYPE html>

<html lang="es-MX">
  <head>
    <title>Examen</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/estilo.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/all.js"></script>
  </head>
  
  <body class="container-fluid">
    
      
      <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="0">
	<ul class="nav navbar-nav">
	  <li><a class="opcion" id="irEvaluador">Evaluador de código</a></li>
	  <li><a class="opcion" id="irConsola">Consola</a></li>
	</ul>
      </nav>
      
      
      <section id="evaluador" class="iframe-container" style="display:none" >
	<iframe src="{{ urlEvaluador }}/logout" id="frameEvaluador"></iframe>
      </section>

      <section id="consola" class="iframe-container" >
	<iframe src="http://localhost:{{ puerto }}" id="contenedor2"></iframe>
      </section>      
  </body>

  <script>
    window.onload = function () {
       var frame = document.getElementById("frameEvaluador");
       frame.contentWindow.postMessage("{{ token }}", "*");
    }
  </script>
  
</html>
