{% extends "anonimo/compartido/base.html" %}
{% block titulo %}Iniciar sesión{% endblock %}
{% block tittle%} Iniciar sesión {% endblock %}
{% block contenido %}
<section class="content">
	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading" style="background:#003366; color:white;">
				<div class="panel-title">Iniciar sesión</div>
			</div>
			<div style="padding-top:30px" class="panel-body">
				{% include "general/info_error.html" %}
				<form action="{% url 'login' %}" method="post">
					{% csrf_token %}
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input id="login-username" type="text" class="form-control" name="username" value=""
							   placeholder="Usuario" required>
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input id="login-password" type="password" class="form-control" name="password"
							   placeholder="Contraseña" required>
					</div>
					<div style="margin-top:10px" class="form-group">
						<!-- Button -->
						<div class="col-sm-12 controls">
							<p style=" text-align: center;">
								<button type="submit" class="btn btn-success">Iniciar sesión</button>
							</p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 control">
							<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
								¿No tienes cuenta?
								<a href="{% url 'registrar_alumno' %}">
									Registrate como alumno
								</a>
								o
								<a href="{% url 'registrar_academico' %}">
									Solicita registro como acádemico
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
