{% extends "anonimo/compartido/base.html" %}
{% block titulo %}404{% endblock %}

{% block contenido %}

<section class="content">
	<div class="error-page">
		<h2 class="headline text-yellow">404</h2>
		<div class="error-content">
			<h3><i class="fa fa-warning text-yellow"></i> Oops! Página no encontrada.</h3>
			<p>
				La página a la que intenta acceder ha sido borrada o fue movida.
				<br>
				Compruebe que no haya cometido errores al escribir la dirección.
				<br>
				Mientras tanto, puedes <a href="{% url 'inicio'%}">regresar al inicio</a>
			</p>

		</div>
		<!-- /.error-content -->
	</div>
	<!-- /.error-page -->
</section>
<!-- /.content -->

{% endblock %}
