{% extends "academico/compartido/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block tittle%} Integrantes {% endblock %}
{% block encabezado%}{{ curso_activo.exp_educativa }} ({{ curso_activo.nrc }}){% endblock %}
{% block contenido%}
<section class="content">
	<div class="box box-widget">
		<div class="box-header with-border" style="background-color:#003366; ">
			<div class="user-block">
				<span class="description " style="color: white; font-size:15px"><strong>Integrantes</strong></span>
			</div>
		</div>
		<div class="box-body">

			<div class="col-md-12">
				{% include "general/integrantes_curso.html" %}
			</div>
		</div>
		<div class="box-footer">
			<div class="col-md-12">
				<a href="{{curso_activo.get_absolute_url}}" class="btn btn-primary">
					<i class="fa fa-arrow-left"></i>
					Regresar
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block scripts %}
{% endblock %}
